<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="roomSettings" type="Tools.AreaCalculator.Configuration.RoomSettingsSection, Tools.AreaCalculator"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <roomSettings>
    <common purpose="Назначение" apartmentOwn="Принадлежность" roomName="Имя" roomsCount="Число комнат" totalApartmentArea="Площадь квартиры Общая" apartmentArea="Площадь квартиры" residentialApartmentArea="Площадь квартиры Жилая" decorationThickness="Толщина внутренней отделки" areaCoefficient="Коэффициент площади"/>
    <roomTypes>
      <type name="Остальные" decorationThicknessValue="20" areaCoefficientValue="1"/>
      <type name="Лоджия" decorationThicknessValue="0" areaCoefficientValue="0.7"/>
      <type name="Балкон" decorationThicknessValue="0" areaCoefficientValue="0.5"/>
      <type name="Терраса" decorationThicknessValue="20" areaCoefficientValue="0.3"/>      
    </roomTypes>
  </roomSettings>  
</configuration>